<div class="navbar navbar-inverse navbar-fixed-top"
role="navigation">

	<div class="navbar-header">
	<div class="navbar-left">
		<a class="navbar-brand" href="{{ url_for('catalog.home')
	}}">Flask Cookbook</a>
	</div>
	<div class="navbar-right">
	{% if current_user.is_authenticated() %}
	<span class="navbar-brand">{{ current_user }}!!</span>
	<a class="navbar-brand" href="{{ url_for('auth.logout') }}">
		Logout</a>
	{% else %}
		<a class="navbar-brand" href="{{ url_for('auth.login') }}">Login</a>
		<a class="navbar-brand" href="{{ url_for('auth.register') }}">Register</a>
	{% endif %}
	<ul class="nav navbar-nav navbar-right">
      <li><a href="#about">Right</a></li>
      <li><a href="#contact">Right</a></li>
    </ul>
	</div>
</div>
</div>
